@charset "UTF-8";
:root {
  --primary-color: #ff5000;
  --primary-color-rgb: 240, 85, 55;
  --font-color: #777777;
  --font-color-rgb: 119, 119, 119;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  background-color: rgba(var(--primary-color-rgb), 0.1);
}

.todo-list {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo-list__wrapper {
  width: 100%;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
  padding-top: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.03);
}

.todo-list__wrapper .todo-title {
  background-color: var(--primary-color);
  color: #fff;
  width: calc(100% + 40px);
  text-align: center;
  margin: 0 0 0 -20px;
  padding: 10px;
  position: relative;
  font-size: clamp(28px, 35px, 40px);
}

.todo-list__wrapper .todo-title::before, .todo-list__wrapper .todo-title::after {
  content: "";
  position: absolute;
  bottom: -19px;
  display: block;
  border: 10px solid #f76d2e;
}

.todo-list__wrapper .todo-title::before {
  left: 0px;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.todo-list__wrapper .todo-title::after {
  right: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.todo-list__container {
  padding: 40px 20px;
}

.todo-list__container .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-list__container .input-container .input-field {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.todo-list__container .input-container .input-field input {
  border: 0;
  padding: 10px;
  width: 82%;
}

.todo-list__container .input-container .input-field input + .underline {
  display: block;
  width: 90%;
  border-top: 1px solid rgba(var(--font-color-rgb), 0.4);
  position: relative;
}

.todo-list__container .input-container .input-field input + .underline::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0.5px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  top: 0;
  left: 0;
  background: var(--primary-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.todo-list__container .input-container .input-field input:focus {
  outline: 0;
}

.todo-list__container .input-container .input-field input:focus + .underline::before {
  width: 100%;
}

.todo-list__container .input-container .todoAdd {
  background-color: rgba(var(--primary-color-rgb), 0.7);
  color: #fff;
  padding: 5px 10.66px;
  cursor: pointer;
  font-size: 20px;
  margin-left: -29px;
  border-radius: 100%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.03);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(var(--primary-color-rgb), 0.6);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.todo-list__container .input-container .todoAdd:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.todo-list__container .todo-display__wrapper {
  margin: 30px 0 0;
  padding: 0 0 0 20px;
}

.todo-list__container .todo-display__wrapper .todoRemove {
  background-color: #fff;
  color: var(--primary-color);
  padding: 1px 4.92px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid rgba(var(--primary-color-rgb), 0.6);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.todo-list__container .todo-display__wrapper .todoRemove:hover {
  background-color: rgba(var(--primary-color-rgb), 0.7);
  color: #fff;
}

.todo-list__container .todo-display__wrapper li {
  padding-left: 15px;
  text-align: right;
}

.todo-list__container .todo-display__wrapper li:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(var(--font-color-rgb), 0.2);
}

.todo-list__container .todo-display__wrapper li span {
  display: inline-block;
  margin-left: 10px;
  float: left;
}

.todo-list__container .todo-display__wrapper li::marker {
  content: "☞";
  font-size: 25px;
  line-height: 13px;
  color: rgba(var(--font-color-rgb), 0.9);
}
/*# sourceMappingURL=index.css.map */